# Add the values for the Credentials to access the IBM Cloud
# Instructions to access this information can be found in the README.MD
classic.username=""
classic.api.key=""
ibmcloud.api.key=""
# Authentication to OCP can either be performed with username/password or token
# If token is provided it will take precedence
login.user=""
login.password=""
login.token=""
server.url=""