name: Notify

on:
  release:
    types: [created]

jobs:
  notify:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        slug: ["ibm-garage-cloud/cloudnative-toolkit"]

    steps:
      - name: Repository dispatch ${{matrix.slug}}
        run: |
          curl -XPOST -u "${{ secrets.USERNAME}}:${{secrets.TOKEN}}" -H "Accept: application/vnd.github.everest-preview+json" -H "Content-Type: application/json" https://api.github.com/repos/${{matrix.slug}}/dispatches --data '{"event_type": "released"}'